
# JAT SPECIFIC

# Input files #
######################
Input/

*.nc
*.kml
*.xlsx

# Output files #
######################
A_elevation_dataframes/
B_transect_plots/
B2_transect_plots_with_dune_toe
C_dimensions_dataframes_per_transect/
D_dataframes_per_dimension/
E_filtered_dataframes/

*.pickle

# Documentation #
#####################
*.docx
*.pptx

# Package related files #
######################
build/
dist/
JAT.egg-info/
__pycache__/

*.pyc

#GENERAL

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
